{% extends "base_template.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trucks/trucks.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="truck-site-container">
    <div class="departed-trucks">Trucks</div>
    <div class="truck-list-border">
      <div class="truck-list-container">
        {% if last_departed_truck_list %}
          {% for departed_truck in last_departed_truck_list %}
              <a class="truck-display" href="{% url 'trucks:display_truck_info' departed_truck.id %}">
              <div class="truck-description">
              <div class="truck-icon-container">
                {% include "trucks/_truck_svg.html" %}
              </div>
                <div class="id-brand-container">
                  <div class="truck-code-text">
                    {{ departed_truck.truck_code_number }}
                  </div>
                  <div class="truck-brand-text">
                    {{ departed_truck.truck_brand }}
                  </div>
                </div>
              </div>
              </a>
          {% endfor %}
        {% else %}
            <p>No trucks to display.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
