{% extends "base_template.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trucks/trucks.css' %}">
{% endblock extra_css %}

{% block content %}
  <div>
    <h2 class="departed-trucks">Departed Trucks</h2>
    {% if last_departed_truck_list %}
      {% for departed_truck in last_departed_truck_list %}
          <a class="truck-display" href="{% url 'trucks:display_truck_info' departed_truck.id %}">
            <div class="truck-info-text">
              {{ departed_truck }}
            </div>
          </a>
      {% endfor %}
    {% else %}
        <p>No trucks to display.</p>
    {% endif %}
  </div>
{% endblock content %}
