{% extends "base_template.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trucks/truck_list.css' %}">
<link rel="stylesheet" href="{% static 'trucks/animated_effects.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="truck-site-container">
  <div class="buttons">
    <a class="truck-list-button-text" href="{% url 'trucks:register_truck' %}">
      <button class="truck-list-button" >
        <div class="button-icon">
          {% include "trucks/_register_svg.html" %}
        </div>
        Register a new truck
      </button>
    </a>
    <button class="truck-list-button">
      <div class="button-icon">
        {% include "trucks/_graph_svg.html" %}
      </div>
      Statistics
    </button>
  </div>
  <div class="truck-list-border">
    <div class="truck-list-container">
      {% if trucks %}
        {% for truck in trucks %}

          <a class="truck-display" 
            href="{% url 'trucks:display_truck_info' truck.id %}">

            <div class="{% if truck.truck_total_trips > 20 %}

              truck-badge
              active-truck 

              {% else %}

              truck-badge
              inactive-truck

              {% endif %}">
              
              <div class="truck-description">
                <div class="truck-icon-container">
                  {% include "trucks/_truck2_svg.html" %}
                </div>
                <div class="id-brand-container">
                  <div class="truck-code-text">
                    {{ truck.truck_code_number }}
                  </div>
                  <div class="truck-brand-text">
                    {{ truck.truck_brand }}
                  </div>
                </div>
              </div>

            </div>

            </a>
        {% endfor %}
      {% else %}
          <p>No trucks to display.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

