.truck-display {
  width: 700px;
  height: 55px;
  display: flex;
  color: white;
  background-color: rgba(200, 200, 200, 0.1);
  margin-top: 5px;
  border-radius: 5px;
  text-decoration: none;

  overflow: hidden;
  transition: ease 0.5s;
  user-select: none;
}

.truck-display:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.truck-code-text {
  background-color: darkslategray;
  height: 25px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.truck-brand-text {
  background-color: green;
  height: 25px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.departed-trucks {
  font-size: 70px;
  color: white;
  width: 100%;
  opacity: 0.4;
}

.truck-site-container {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.truck-list-container {
  width: 710px;
  height: 350px;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;

  overflow-x: hidden;
  overflow-y: auto;
}

.truck-list-border {
  border: solid 2px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  width: 740px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id-brand-container {
  font-size: 12px;
  height: 25px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.truck-icon-container {
  background-color: rgba(200, 200, 255, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 5px;
}

.truck-description {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
}
