<!DOCTYPE html>
<html>
<head>
    <title>My Django Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
  <div class="navbar-container">
    <div class="wrapper1">
      <div class="link-container">
        <a href="{% url 'trucks:index'%}" class="small-link">Trucks</a>
        <a href="{% url 'trucks:truck_list'%}" class="small-link">Truck List</a>
      </div>
    </div>
    <div class="wrapper2">
      <a href={% url 'home' %} class="site-title">
        <div class="truck-logo-link">
          <div class="truck-logo-icon-container">
            {% include "trucks/_truck_svg.html" %}
          </div>
          Truck Company
        </div>
      </a>
    </div>
  </div>
  {% block content %}{% endblock content %}
</body>
</html>
